sudo: false
language: ruby
rvm:
  - 2.2.9
  - 2.3.6
  - 2.4.3
  - 2.5.0
before_install: gem install bundler -v 1.16.1
script:
  - bundle exec rake

deploy:
  provider: pages
  local_dir: docs
  skip_cleanup: true
  email: chingor@google.com # To satisfy the CLA check, replace this with bot email.
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
